.bt-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bt-input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.bt-input-container label {
  display: inline-flex;
  font-size: 20px;
  line-height: 20px;
  gap: 10px;
}

.bt-input-container button {
  width: 100px;
}